footer Footer content goes here
    footer.footer.bg-dark.text-white.text-center.py-3
        p © 2023 Your Company Name. All rights reserved.
        p
            a(href="https://www.example.com/privacy-policy", class="text-white") Privacy Policy