footer.footer.bg-dark.text-white.text-center.py-4
  .container
    .row
      .col-12
        p.mb-2 © Nguyen Van Sam PTIT 
        p.mb-0
          a.text-white.text-decoration-none.hover-opacity(href="https://www.example.com/privacy-policy") Privacy Policy
          span.mx-2 |
          a.text-white.text-decoration-none.hover-opacity(href="https://www.example.com/terms") Terms of Service
          span.mx-2 |
          a.text-white.text-decoration-none.hover-opacity(href="https://www.example.com/contact") Contact Us